body{
  width: 1100px;
  height: 2000px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

/*навигация и логотип*/
.header{
  background-color: #333333;
  width: 100%;
  height: 133px;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.75);
}


.text{
  width: 337px;
  height: 56px;
  font-size: 43px;
  font-family: 'Montserrat', sans-serif;
  color: #EEEEEE;
  float: left;
  margin-left: 70px; 
  margin-top: 41px;
}

.logo-link{
text-decoration: none;
color:#EEEEEE;
}

.logo-link:hover{
  color: #C27647;
  transition: 0.6s;
}


.nav{
  margin-right: 70px;
}

.navigation{
  width: 411px;
  height: 13px;
  float: right ;
  list-style-type: none;
  margin-top: 73px;
  padding-inline-start:0;
}

.navigation-line{
  display: inline-block;
}

.navigation-link{
  text-decoration: none;
  color: #EEEEEE;
  font-size: 15px;
}

.navigation-link__focus{
  color: #00AEEF;
}


.navigation-link::before{
  content: "";
}

.navigation .navigation-line:after {
  content: " --";
  color: #EEEEEE;
}

.navigation .navigation-line:last-child::after{
  content: none;
}

/*секция с контентом*/

.section{
  margin: 0;
}

.section-title-main{
  margin: 67px 229px 4px 70px;
  width: 801px;
  height: 56px;
  font-weight: bold;
  font-size: 3rem;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
}

.title-letter{
  color:#00AEEF;
}

.section-title{
  width: 701px;
  height: 47px;
  margin: 0 320px 31px 70px;
  font-family: 'Montserrat', sans-serif;
  color: #BBBBBB;
  font-size: 2.3rem;

}

.border{
  width: 966px;
  height: 2.5px;
  border-bottom: 2.5px dotted #CCCCCC;
  margin-left: 65px;
}

.section-content{
  margin: 33px 85px 34px 68px; 
  width: 941px;
  font-size: 34px;
  padding: 0;
}

.border__second{
  margin-top: 0px;
  margin-left: 65px;
}

/*трехколоночный лойаут*/

.loyouts-3-column{
  margin-left: 67px;
}

.columns{
  width: 283px;
  height: 351px;
  background-color: #00AEEF;
  float: left;
  margin-top: 68px;
  box-shadow: 1px 2px 4px 0px rgba(50, 50, 50, 0.75);
}

.marketing{
  margin-right: 59px;
}

.web-disign{
  margin-right: 59px;
}

.loyouts-title{
  width: 176px;
  height: 38px;
  margin: 25px 55px 15px 52px;
  color: #FFF;
  font-size: 30px;
  text-align: center; 
  opacity: 1;

}

.loyuts-border{
  color: #FFF;
  border-bottom: 3px dotted #fff;
  width: 237px;
  margin-left: 23px;
  opacity: 1;
}

.loyouts-text{
  color: #FFF;
  width: 227px;
  height: 139px;
  font-size: 14px;
  text-align: center;
  margin-left: 28px;
  margin-top: 27px;
}

.button{
  width: 232px;
  height: 41px;
  background-color: #0076A3;
  padding: 0;
  margin-top: 29px;
  margin-left: 25px;
}

.border__third{
  width: 966px;
  height: 2.5em;
  border-bottom: 2.5px dotted #CCCCCC;
  margin-left: 66px;
  margin-top: 425px;
}

.first-column{
  width: 446px;
  height: 370px;
  float: left;
}


.loyouts-title_small{
  margin-left: 69px;
  margin-top: 36px;
  color: #555555;
  opacity: 1;
  font-size: 24px;
  text-align: left;

}

.testimonial-one{
  width: 439px;
  height: 84px;
  margin-top: 29px;
  margin-left: 69px;
}

.image{
  width: 84px;
  height: 84px;
  background-color: #CCCCCC;
  opacity: 1;
  float: left;
}

.testimonial-text{
  width: 328px;
  margin-left: 111px;
  font-size: 13px;
  text-align: left;
  color: #555555;
}

.testimonial-name{
  width: 120px;
  height: 32px;
  font-size: 12px;
  float: left;
  margin-left: 27px;
  margin-top: 16px;
}

.job{
  color: #0076A3;
}

.testimonial-two{
  width: 439px;
  height: 84px;
  float: left;
  margin-top: 38px;
  margin-left: 70px;

}

.testimonial-thre{
  float: left;
  margin-left: 70px;
  margin-top: 33px;
}



.border-column{
  width: 4px;
  height: 385px;
  border-right: 3px dotted #CCCCCC;
  float: left;
  margin-left: 60px;
  margin-top: 31px;
}

.second-column{
  width: 432px;
  height: 370px;
  float:left;
  margin-left: 45px;
  margin-top: 36px;
}

.featured-project{
  color: #555555;
  font-size: 17px;
  width: 150px;
  height: 22px;
  text-align: left;
}

.yoshi-online{
  width: 302px;
  height: 20px;
  font-size: 16px;
  color: #888888;
}

.featured-image{
  background-image: url(/image/1.png);
  widows: 430px;
  height: 206px;
}

.featured-text{
  color: #555555;
  width: 427px;
  height: 55px;
  font-size: 14px;
  text-align: left;
  margin-top: 15px;
}


.featured-links{
  margin-top: 20px;
  font-size: 12px;
}

.featured-link{
  text-decoration: none;
  color: #00AEEF;
  font-style: 12px;
}
.featured-link:hover{
  text-decoration: underline;
}


.border-end{
  width: 966px;
  height: 5px;
  border-bottom: 3px dotted #CCCCCC;
  margin-left: 64px;
  margin-top: 448px;
}

.fotter-text{
  color: #888888;
  font-size: 16px;
  margin-left: 63px;
  margin-top: 18px;

}